@charset "UTF-8";

/* menu */
/* NavBar */

.header * {
    box-sizing: border-box;
}

.header {
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    right: 30px;
    /* width: 100%; */
    width: auto;
    float: right;
    z-index: 999;
}

#switch {
    display: none;
}

/* 漢堡按鈕 */
.label-container {
    position: relative;
    float: right;
    padding-top: 25px;
    cursor: pointer;
}

.label-container span {
    position: absolute;
    /* 使用固定定位 */
    z-index: 1000;
    margin: 17px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 未選中時的圖片 */
.label-container img {
    content: url(../images/list-cloes.svg);
    transition: transform 0.35s ease;
    width: auto;
}

.label-container span {
    position: relative;
}

.label-container span::after {
    content: "Menu";
    position: absolute;
    bottom: -20px;
    z-index: 1000;
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 12px;
}


/* 選中時的圖片 */
#switch:checked+.label-container img {
    content: url(../images/list-cloes.svg);
    transform: rotate(45deg);
    width: auto;
}

#switch:checked+.label-container span::after {
    content: "Close";
}

/* menu*/
.menu-label {
    position: relative;
}

.menu-label img {
    display: block;
    margin: 0 auto;
}

.menu-label::before {
    content: "MENU";
    display: block;
    text-align: center;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}


.menu {
    /* 收起來時歸零 */
    height: 0;
    /* 避免打開時產生震動動畫感(高度同展開後的高度。) */
    max-height: 650px;

    display: flex;
    /* 動畫收和過程中維持垂直 */
    flex-direction: column;
    /* 自動內距寬高 */
    justify-content: space-between;

    /* 背景顏色 */
    background: var(--gradient);
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 50px;

    overflow: hidden;
    /* 動畫秒數 */
    transition: .5s;
    width: 400px;
    /* 使用固定定位，讓她永遠浮在畫面上 */
    position: fixed;
    z-index: 999;
    /* 畫面靠右 */
    right: 0;
    margin: 10px;
    padding: 0 30px;


}

.menu li {
    overflow: hidden;
    text-align: left;

    a,
    small {
        text-decoration: none;
        display: block;
        line-height: 1.3;
        text-align: left;
    }

    a:hover {
        color: #000;
    }

}

input:checked~.menu {
    /* 點開後的高度 */
    height: 90vh;
    max-height: 650px;
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

/* 子分類的ul樣式變更 */
.menu .box-container {
    height: 20%;
}

.menu .box-container .list-container {
    /* A、B盒子從垂直變水平 */
    display: flex;
    height: 100%;
}

.list-A,
.list-B {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.list-A li,
.list-B li {
    /* li樣式變更 */
    background: url(../images/ulStely.svg) no-repeat left center;
    background-size: 13px;

    /* li圖跟字的距離 */
    padding-left: 24px;
}


/* 底線樣式 */
.list-element-line {
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #ccc;
}

/* 英文字樣式修正 */
li .enText {
    display: flex;
    margin-left: 2px;
}

/* 右下logo設定 */
.logo-right {
    /* li img*/
    float: right;
    width: 100px;
}

/* logo與li水平排列 */
.menu .contact-link {
    float: left;
}

.menu .enText {
    font-family: "Noto Sans TC", sans-serif;
}



/* RWD 斷點 */
/* 電腦 1200px以上 */
/* @media (min-width:1201px) {} */

/* 大型平板(993-)1200px */
/* @media (max-width:1200px) {} */

/* 平板 (769-) 992px */
@media (max-width: 992px) {
    .menu {
        width: 43%;
    }

    input:checked~.menu {
        width: 43%;
        height: 80%;
    }
}

/* 手機 (577-) 768px */
@media (max-width: 768px) {
    .menu {
        width: 53%;
    }

    input:checked~.menu {
        height: 80%;
        width: 53%;
    }


}

/* 小型手機 576px 以下 */
@media (max-width: 576px) {
    .label-container span {
        margin: 10px 15px;
    }

    .menu {
        margin: 20px;
        width: 55%;
    }

    input:checked~.menu {
        height: 60%;
        width: 55%;
    }

    .menu .box-container,
    .menu .box-line,
    .logo-right {
        display: none;
    }

}

/* menu end */