@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@500&display=swap');

/* eric/css/reset/ */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
    padding-left: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* eric/css/reset/end */
/* 顏色 */
:root {
    /* 灰階 */
    --white: #fff;
    --black: #000;
    --font-grey: #666;
    /* 主色調 
    --primary-color:; */
    /* 背景漸層 */
    --gradient:
        linear-gradient(120deg, rgba(164, 213, 190, .25) 30%, rgba(164, 213, 190, 0) 60%),
        linear-gradient(210deg, rgba(137, 209, 239, .25) 30%, rgba(137, 209, 239, 0) 60%),
        linear-gradient(340deg, rgba(238, 179, 208, .25) 30%, rgba(238, 179, 208, 0) 60%);
    --gradient-2:
        linear-gradient(120deg, rgba(238, 179, 208, .25) 30%, rgba(238, 179, 208, 0) 60%),
        linear-gradient(210deg, rgba(164, 213, 190, .25) 30%, rgba(164, 213, 190, 0) 60%),
        linear-gradient(340deg, rgba(137, 209, 239, .25) 30%, rgba(137, 209, 239, 0) 60%);
    /* 遮色片漸層 */
    --overlay:
        linear-gradient(120deg, rgba(164, 213, 190, .3) 30%, rgba(164, 213, 190, 0) 60%),
        linear-gradient(210deg, rgba(137, 209, 239, .3) 30%, rgba(137, 209, 239, 0) 60%),
        linear-gradient(340deg, rgba(238, 179, 208, .3) 30%, rgba(238, 179, 208, 0) 60%),
        linear-gradient(180deg, rgba(255, 255, 255, .3) 30%, rgba(255, 255, 255, .8) 20%, rgba(255, 255, 255, .3) 30%);

}


/* 字型 */
/* 內文(黑體) */
.ch-sans-thin-l {
    /* 葉形按鈕 */
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    font-size: 20px;
    /* 關掉葉形按鈕原設定的#000 */
    color: #666;
    /* color: #000; */
}

.en-sans-light-s {
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 12px;
}

.serif-medium-s {
    font-family: "Noto Serif TC", serif;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 24px;
}

.en-sans-light-s {
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 12px;
}

/* 字型設定(完) */

/* 選單開始 */
/* menu */

* {
    box-sizing: border-box;
}

/* NavBar */
header {
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    right: 30px;
    width: 100%;
    float: right;
    z-index: 999;
}

#switch {
    display: none;
}

/* 漢堡按鈕 */
.label-container {
    position: relative;
    float: right;
    padding-top: 25px;


    img {
        position: absolute;
        /* 使用固定定位 */
        z-index: 1000;
        margin: 40px 50px;
        right: 0;
    }
}



/* 未選中時的圖片 */
.label-container img {
    content: url(../images/list-cloes.svg);
    transition: transform 0.35s ease;
    width: auto;
}

.label-container::after {
    content: "Menu";
    position: absolute;
    transform: translateY(800%) translateX(-260%);
    z-index: 1000;
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 12px;
}


/* 選中時的圖片 */
#switch:checked+.label-container img {
    content: url(../images/list-cloes.svg);
    transform: rotate(70deg);
    width: auto;
}

#switch:checked+.label-container::after {
    content: "Close";
    transform: translateY(800%) translateX(-260%);
    z-index: 1000;
    font-weight: 100;
    letter-spacing: 0.1em;
    line-height: 100%;
    color: #666;
    font-size: 12px;
}

/* menu*/
.menu-label {
    position: relative;
}

.menu-label img {
    display: block;
    /* 确保图像显示为块级元素，以便设置其宽度和高度 */
    margin: 0 auto;
    /* 水平居中 */
}

.menu-label::before {
    content: "MENU";
    display: block;
    /* 将伪元素设置为块级元素 */
    text-align: center;
    /* 文本水平居中 */
    position: absolute;
    /* 相对于父元素 .menu-label 定位 */
    bottom: -20px;
    /* 距离父元素底部的距离，根据需要调整 */
    left: 0;
    /* 水平居中 */
    right: 0;
    /* 水平居中 */
}


.menu {
    /* 收和後，避免他全部水平排列。 */
    height: 0;
    display: flex;
    flex-direction: column;
    /* 自動內距寬高 */
    justify-content: space-between;
    /* 背景顏色 */
    background: var(--gradient);
    /* background-color: rgba(255, 255, 255, 0.85); */
    backdrop-filter: blur(5px);
    border-radius: 50px;
    overflow: hidden;
    /* 動畫秒數 */
    transition: .5s;
    width: 450px;
    /* 使用固定定位，讓她永遠浮在畫面上 */
    position: fixed;
    z-index: 999;
    /* 畫面靠右 */
    right: 0;
    margin: 30px;

    li {
        /* 包住整個內容，點開後會顯示表單裡的字 */
        overflow: hidden;
        /* border: 1px solid #000; */
        text-align: left;
        padding: 30px;

        li {
            padding: 10px;
        }

        a,
        small {
            text-decoration: none;
            display: block;
            line-height: 30px;
            text-align: left;


        }

        a:hover {
            color: #000;
        }

        /* 星星滾動 */
        .animation {
            position: absolute;
            width: 55px;
            display: none;
            z-index: -5;
        }

        /*.contact-link:hover+.animation {
            display: inline-block;
            animation: rollIn .55s linear forwards;
        }
        .contact-link+.animation {
            display: inline-block;
            animation: rollOut .55s linear forwards;
        } */
    }
}

/* 滾進來的動畫設定。 */
/* @keyframes rollIn {
    100% {
        transform: translateX(0) rotate(0deg);
    }

    50% {
        transform: translateX(200px) rotate(180deg);
    }

    0% {
        transform: translateX(400px) rotate(360deg);
    }
} */
/* 滾出去的動畫設定。 */
/* @keyframes rollOut {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    50% {
        transform: translateX(200px) rotate(180deg);
    }

    100% {
        transform: translateX(400px) rotate(360deg);
    }
} */


/* 子分類的ul樣式變更 */
ul.list-A li,
ul.list-B li {
    /* 圖跟字的距離 */
    padding-left: 24px;
    background: url(../images/ulStely.svg) no-repeat left center;
    background-size: 13px;
}

input:checked~.menu {
    /* 點開後的高度 */
    height: 60vh;
    max-height: 730px;
    width: 450px;
    display: flex;
    flex-direction: column;
}

.menu .list-container {
    display: flex;
}

.list-A,
.list-B {
    flex: 1;
    overflow: hidden;
    height: 250px;
}


/* 底線樣式 */
.list-element-line {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ccc;
}

/* 英文字樣式修正 */
li .enText {
    display: flex;
    margin-left: 3px;
    overflow: hidden;
}

li img {
    width: 100px;
    float: right
}

.menu .contact-link {
    float: left;
}



/* RWD 斷點 */
/* 電腦 1200px 以上 */
@media (min-width: 1201px) {
    input:checked~.menu {
        height: 100%;
    }
}

/* 大型平板 (993-) 1200px */
@media (max-width: 1200px) {
    input:checked~.menu {
        height: 100%;
    }
}

/* 平板 (769-) 992px */
@media (max-width: 992px) {
    .menu {
        width: 40%;
    }

    input:checked~.menu {
        width: 40%;
        height: 80%;
    }

    .menu .list-container,
    .list-element-line {
        display: none;
    }
}

/* 手機 (577-) 768px */
@media (max-width: 768px) {
    .menu {
        width: 60%;
    }

    input:checked~.menu {
        height: 70%;
        width: 60%;
    }

    .menu li .logo-right {
        display: none;
    }

    .menu .list-container,
    .list-element-line {
        display: none;
    }
}

    /* 小型手機 576px 以下 */
    @media (max-width: 576px) {
        .menu {
            width: 60%;
        }

        input:checked~.menu {
            height: 80%;
            width: 60%;
        }
    }

    /* menu end */