	@charset "UTF-8";
	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@500&display=swap');

	@font-face {
		font-family: "Arthead FREE";
		src: url(../webfonts/Arthead-Regular\ FREE.otf);
	}

	html,
	body,
	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	sub,
	sup,
	tt,
	var,
	b,
	u,
	i,
	center,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td,
	article,
	aside,
	canvas,
	details,
	embed,
	figure,
	figcaption,
	footer,
	header,
	hgroup,
	menu,
	nav,
	output,
	ruby,
	section,
	summary,
	time,
	mark,
	audio,
	video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	/* HTML5 display-role reset for older browsers */
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol,
	ul {
		list-style: none;
	}

	blockquote,
	q {
		quotes: none;
	}

	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	/* eric reset end */

	body {
		font-family: "Noto Sans TC", sans-serif;
		letter-spacing: 0.1em;
	}

	img {
		display: block;
		width: 100%;
		/*svg預設寬度100%，其他圖檔預設為原檔案尺寸*/
	}

	a {
		display: block;
		/* color: #777;針對每個檔案做調整 */
		text-decoration: none;
		/*取消預設底線裝飾*/
		color: #666;
	}

	button {
		border: none;
	}

	html,
	body {
		scroll-behavior: smooth;
		/* 錨點滑動 */
		overflow-x: hidden;
	}

	/* test */
	:root {
		--gradient: linear-gradient(120deg, rgba(164, 213, 190, .3) 30%, rgba(164, 213, 190, 0) 60%),
			linear-gradient(210deg, rgba(137, 209, 239, .3) 30%, rgba(137, 209, 239, 0) 60%),
			linear-gradient(340deg, rgba(238, 179, 208, .3) 30%, rgba(238, 179, 208, 0) 60%);

		--gradient2: linear-gradient(220deg, rgba(238, 179, 208, .3), rgba(137, 209, 239, .3), rgba(164, 213, 190, .3));

		--gradient3: linear-gradient(220deg, rgba(137, 209, 239, .3), rgba(238, 179, 208, .3), rgba(164, 213, 190, .3));
	}

	/* 文字CSS */

	/* 商品編號 */
	.product-number {
		font-family: "Arthead FREE";
		font-size: 250px;
		color: #E6E6E6;
	}

	/* 內文(黑體) */
	.ch-sans-light-s {
		font-weight: 300;
		line-height: 190%;
		color: #000;
		font-size: 14px;
		letter-spacing: 0.1em;
	}

	.ch-sans-light-m {
		font-weight: 300;
		line-height: 190%;
		color: #000;
		font-size: 16px;
		letter-spacing: 0.1em;
	}

	.ch-sans-thin-l {
		/*葉形按鈕*/
		font-weight: 100;
		line-height: 100%;
		color: #000;
		font-size: 20px;
		letter-spacing: 0.1em;
	}

	.ch-sans-thin-xl {
		font-weight: 100;
		line-height: 100%;
		color: #000;
		font-size: 24px;
		letter-spacing: 0.1em;
	}

	.en-sans-light-s {
		font-weight: 100;
		line-height: 100%;
		color: #666;
		font-size: 12px;
		letter-spacing: 0.1em;
	}

	.en-sans-light-m {
		font-weight: 100;
		line-height: 100%;
		color: #666;
		font-size: 14px;
		letter-spacing: 0.1em;
	}

	.en-sans-light-l {
		font-weight: 100;
		line-height: 100%;
		color: #666;
		font-size: 20px;
		letter-spacing: 0.1em;
	}

	.en-sans-light-xl {
		font-weight: 100;
		line-height: 100%;
		color: #666;
		font-size: 24px;
		letter-spacing: 0.1em;
	}


	/* 標題(明體) */
	.serif-medium-footer {
		font-family: "Noto Serif TC", serif;
		font-weight: 500;
		line-height: 100%;
		color: #666;
		font-size: 20px;
		letter-spacing: 0.1em;
	}

	.serif-medium-s {
		font-family: "Noto Serif TC", serif;
		font-weight: 500;
		line-height: 100%;
		color: #666;
		font-size: 24px;
		letter-spacing: 0.1em;
	}

	.serif-medium-m {
		font-family: "Noto Serif TC", serif;
		font-weight: 500;
		line-height: 150%;
		color: #666;
		font-size: 32px;
		letter-spacing: 0.1em;
	}

	.serif-medium-l {
		font-family: "Noto Serif TC", serif;
		font-weight: 500;
		line-height: 150%;
		color: #666;
		font-size: 44px;
		letter-spacing: 0.1em;
	}

	.serif-medium-xl {
		font-family: "Noto Serif TC", serif;
		font-weight: 500;
		line-height: 140%;
		color: #666;
		font-size: 64px;
		letter-spacing: 0.1em;
	}

	.serif-medium-xxl {
		font-family: "Noto Serif TC", serif;
		font-weight: 500;
		line-height: 120%;
		color: #666;
		font-size: 72px;
		letter-spacing: 0.1em;
	}

	/* 按鈕設定 */
	/* 葉形按鈕-白 */
	.leaf-btn-w {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 270px;
		height: 70px;

		background-color: #fff;
		border-radius: 99px 0 99px 0;
		overflow: hidden;

		position: relative;
	}

	.leaf-btn-w img {
		width: 60px;
	}


	/* 漸層色塊 */
	.leaf-btn-w::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: -100%;
		top: 0;
		background: var(--gradient);
		transition: all 0.5s;
	}

	/* hover 時，漸層色片由左至右 */
	.leaf-btn-w:hover::after {
		left: 0;
	}

	/* 按鈕中的文字，z-index:2 --> 才會在漸層色塊上面 */
	.leaf-btn-w h5 {
		position: relative;
		z-index: 2;
	}

	/* 按鈕中的箭頭包 div --> 箭頭改變寬度時 div 不動；z-index:2 --> 才會在漸層色塊上面 */
	.leaf-btn-w div {
		width: 60px;
		/* margin-left: 30px; */
		position: relative;
		z-index: 2;
	}

	.leaf-btn-w img {
		width: 100%;
		height: 100%;
	}

	/* hover 時，箭頭寬度改變 */
	.leaf-btn-w:hover img {
		animation: arrowMove 0.7s 0.1s;
	}

	@keyframes arrowMove {
		from {
			width: 0;
		}

		to {
			width: 100%;
		}
	}

	/* 葉形按鈕-彩色 */
	.leaf-btn-c {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		width: 270px;
		height: 70px;

		background: var(--gradient);
		border-radius: 99px 0 99px 0;
		overflow: hidden;
		position: relative;
	}

	.leaf-btn-c img {
		width: 60px;
	}

	.leaf-btn-c::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: -100%;
		top: 0;
		background: var(--gradient);
		transition: all 0.8s;

	}

	/* hover 時，多了增加亮度 120% */
	.leaf-btn-c:hover::after {
		left: 0;
		filter: brightness(120%);
	}

	.leaf-btn-c h5 {
		position: relative;
		z-index: 1;
	}

	.leaf-btn-c div {
		width: 60px;
		/* margin-left: 10px; */
		position: relative;
		z-index: 1;
	}

	.leaf-btn-c img {
		width: 100%;
		height: 100%;
	}

	.leaf-btn-c:hover img {
		animation: arrowMove 0.7s 0.1s;
	}

	/* 錨點導航 */
	#anchor {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1140px;
		margin: auto;
	}


	#anchor img {
		width: 32px;
		margin-right: 20px;

		opacity: 0;
		transition: all 1s ease-in-out;
	}

	#anchor img.animate.animation {
		opacity: 1;
	}

	#anchor .h3-w {
		display: block;
		width: 148px;
	}

	#anchor .h3 {
		display: block;
		overflow: hidden;
		width: 0;

		transition: all 1s ease-in-out;
	}

	#anchor .h3.animate.animation {
		width: 148px;
	}

	#anchor .h3>h3 {
		width: 148px;
		text-align: center;
	}

	#anchor .line {
		display: block;
		width: 440px;
		height: 1px;
		background-color: #666;
		margin: 0 70px;

		transform: scaleX(0);
		transform-origin: left;
		transition: all 1s .5s ease-in-out;
	}

	#anchor .line.animate.animation {
		transform: scaleX(1);
	}

	#anchor .buttom {
		display: flex;
		justify-content: space-between;
		flex-grow: 1;
	}

	#anchor a {
		/* margin: 35px; */
		border-bottom: solid 2px transparent;
		border-top: solid 2px transparent;
		position: relative;
		transition: all .5s;

		opacity: 0;
	}

	#anchor a:hover {
		border-bottom: 2px solid #666;
	}

	#anchor a .h2 {
		display: block;
		overflow: hidden;
		margin: 20px 0;
	}

	#anchor a h2 {
		transform: translateY(110%);
		transition: all 1s 1s ease-in-out;
		white-space: nowrap;
		opacity: 0;
	}

	#anchor a h2.animate.animation {
		transform: translateY(0%);
		opacity: 1;
	}

	#anchor a img {
		position: absolute;
		left: -40px;
		top: -30px;
		width: 105px;
		opacity: 0.5;
		z-index: -1;

		opacity: 0;
		transition: all .5s;
	}

	#anchor a:hover img {
		opacity: .5;
	}

	#anchor .active {
		border-bottom: 2px solid #666;
		transition: all 1s 1s ease-in-out;
	}

	#anchor a.animate.animation {
		opacity: 1;
	}

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (993-) 1400px */
	@media (max-width: 1400px) {}

	/* 平板 (576-) 1200px */
	@media (max-width: 1200px) {
		#anchor {
			width: 90%;
		}

		#anchor .line {
			width: 250px;
			margin: 0 50px;
		}
	}

	/* 平板 (576-) 992px */
	@media (max-width: 992px) {
		#anchor {
			width: 90%;
		}

		#anchor .line {
			width: 80px;
			margin: 0 50px;
		}
	}

	/* 小型手機 768px 以下 */
	@media (max-width: 768px) {
		#anchor {
			flex-direction: column;
		}

		#anchor>img {
			margin: 0px 0px 20px 0px;
			display: none;
		}

		#anchor .line {
			width: 1px;
			height: 60px;
			margin: 20px 0;

			transform: scaleY(0);
			transform-origin: top;
			transition: all 1s ease-in-out;
		}

		#anchor .line.animate.animation {
			transform: scaleY(1);
		}

		#anchor .buttom a {
			margin: 0 20px;
		}

		#anchor .buttom a h2 {
			font-size: 16px;
		}
	}

	/* 標題漸層 */
	.title-gradient {
		position: absolute;
		left: -200px;
		top: -30px;
		z-index: -1;
		width: 400px;
		height: 250px;
		rotate: 200deg;

		opacity: 0;
		transition: all 1s ease-in-out;
	}

	.title-gradient.animate.animation {
		opacity: 1;
	}

	/* 小型手機 576px 以下 */
	@media (max-width: 576px) {
		.title-gradient {
			height: 200px;
			width: 300px;
			left: -110px;
		}
	}




	/* 一些特效 */
	@keyframes cover-quotes {
		0% {
			transform: translateY(-100%);
			opacity: 0
		}

		100% {
			transform: translateY(0%);
			opacity: 1
		}
	}


	@keyframes opacity {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}


	@keyframes logo {
		0% {
			transform: translateY(100%);
			opacity: 0;
		}

		100% {
			transform: translateY(0%);
			opacity: 1;
		}
	}

	@keyframes text {
		0% {
			width: 0;
			opacity: 0;
		}

		100% {
			width: 100%;
			opacity: 1;
		}
	}

	@keyframes line {
		0% {
			transform: scaleX(0);
			transform-origin: left;
			opacity: 0;
		}

		100% {
			transform: scaleX(1);
			transform-origin: left;
			opacity: 1;
		}
	}

	@keyframes shine {
		0% {
			opacity: 0
		}

		50% {
			opacity: 1
		}

		100% {
			opacity: 0
		}
	}

	/* 星星閃爍 */
	.shine {
		animation: shine 2s ease-in-out infinite;
	}

	.shine-2 {
		animation: shine 2s .5s ease-in-out infinite;
	}

	/* 滾輪淡入淡出 */
	.fade-in {
		opacity: 0;
		transition: opacity 1s ease-in-out;
	}

	.fade-in-show {
		opacity: 1;
	}


	/*                    首頁index                    */
	/* 封面 */
	#cover {
		display: flex;
		justify-content: center;
	}

	.cover-logo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		width: 250px;
	}

	/* LOGO */
	.cover-logo .logo {
		margin-top: 70px;
		z-index: 1;

		overflow: hidden;
	}

	.cover-logo .logo>img {
		transform: translateY(100%);
		animation: logo 1.3s ease-in-out forwards;
	}

	.cover-logo .p {
		position: relative;
		margin-bottom: 50px;
	}

	.cover-logo .p .text {
		width: 250px;
		display: block;
	}

	.cover-logo .p .text .p-span {
		display: block;
		width: 0;
		overflow: hidden;
		animation: text 1.3s .5s ease-in-out forwards;
	}

	.cover-logo .p .text .p-span>p {
		width: 250px;
	}

	/* 裝飾線 */
	.cover-logo .line {
		margin-top: 15%;
		display: block;
		height: 2px;
		width: 135px;
		background-color: #666;
		animation: line 1.3s ease-in-out forwards;
	}



	/* 漸層色塊 */
	.cover-logo .gradient {
		position: absolute;
		z-index: -1;
		bottom: -90px;
		left: -90px;
		opacity: 0;
		animation: opacity 1.3s ease-in-out forwards;
	}

	.cover-banner {
		width: 933px;
		height: 742px;

		position: relative;
		opacity: 0;
		animation: opacity 1.3s ease-in-out forwards;
	}

	.cover-banner .banner-bg-p {
		height: 100%;
		border-radius: 0 0 0 var(--short-side);
		/* z-index: -1; */
		overflow: hidden;
	}

	.carousel-cover {
		height: 100%;
		width: 100%;
		object-fit: cover;
		display: none;

		opacity: 0;
	}

	.carousel-cover.active {
		display: block;
		animation: slideFade 3s both;
	}

	@keyframes slideFade {
		0% {
			opacity: 0;
		}

		5%,
		95% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	.cover-banner::before {
		content: "";
		width: 100%;
		height: 100%;
		border-radius: 0 0 0 var(--short-side);
		background: var(--gradient);
		background-color: rgba(255, 255, 255, 0.4);
		mix-blend-mode: overlay;
		position: absolute;
		z-index: 10;
	}

	.cover-quotes {
		display: flex;
		align-items: flex-start;

		position: absolute;
		right: -70px;
		top: 180px;
		z-index: 20;
	}

	.cover-quotes img {
		transform: translateY(-100%);
		animation: cover-quotes 1.3s ease-in-out forwards;
	}

	.cover-quotes>span {
		width: 40px;
		display: block;
		overflow: hidden;
	}

	.cover-quotes>p {
		opacity: 0;
		animation: opacity 1.3s .5s ease-in-out forwards;
		padding-left: 30px;
	}


	/* banner輪播區 */
	/* 前後按鈕 */
	.btn-prev,
	.btn-next {
		width: 48px;
		height: 48px;
		/* 手機版時裡面圖片置中 */
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 50%;
		z-index: 10;
		transform: translateY(-50%);
	}

	.btn-prev img,
	.btn-next img {
		width: 100%;
		height: 100%;
	}

	.btn-prev {
		left: 16px;
	}

	.btn-next {
		right: 16px;
	}

	.btn-next img {
		transform: rotateY(180deg);
	}

	/* 指示長條 */
	.navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		right: 5%;
		bottom: 5%;
		z-index: 10;
		/* transform: translateX(-50%); */
	}

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (1200-) 1400px */
	@media (max-width: 1400px) {
		.cover-quotes {
			/* width: 30%; */
			right: -1%;
			/* top: 50px; */
		}
	}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {
		.navigation {
			transform: rotate(90deg) translateX(50%);
			transform-origin: right;
			bottom: 50%;
		}

		.cover-quotes {
			width: 30%;
			right: -20px;
			top: 50px;
		}
	}

	/* 平板 (576/769-) 992px */
	@media (max-width: 992px) {}

	/* 小型手機 768px 以下 */
	@media (max-width: 768px) {}

	/* 小型手機 576px 以下 */
	@media (max-width: 576px) {}

	.indicator {
		width: 48px;
		height: 3px;
		margin: 0 8px;
		display: block;
		position: relative;
		background-color: #808080;
		cursor: pointer;
		overflow: hidden;
	}

	.indicator::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: -100%;
		top: 0;
		background-color: black;
	}

	.indicator.active::after {
		animation: indicatorMove 3s linear;
	}

	@keyframes indicatorMove {
		from {
			left: -100%
		}

		to {
			left: 0
		}
	}


	/* 電腦 1401px */
	@media (min-width: 1401px) {
		.cover-banner {
			height: 742px;
		}

		.cover-logo .logo {
			width: 200px;
		}
	}

	/* 電腦 (993-) 1400px */
	@media (max-width: 1400px) {
		.cover-banner {
			height: 742px;
		}

		.cover-logo .logo {
			width: 200px;
		}
	}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {
		#cover {
			width: 90%;
			margin: auto;
		}

		.cover-logo {
			margin-right: 50px;
		}
	}

	/* 平板 (576-) 992px */
	@media (max-width: 992px) {
		#cover {
			width: 100%;
			position: relative;
			margin: 0;
		}

		.cover-logo {
			position: absolute;
			z-index: 1;
			left: 55px;
			height: 100%;
		}

		.cover-logo .logo {
			margin-top: 50px;
		}

		.cover-logo .p {
			margin-bottom: 0;
		}

		.cover-quotes {
			display: none;
		}

		.cover-banner {
			width: 100%;
			height: auto;
			aspect-ratio: 1 / 1;
		}
	}

	/* 小型手機 576px 以下 */
	@media (max-width: 576px) {
		.cover-logo {
			left: 30px;
			top: -10px;
		}

		.cover-logo .logo {
			width: 100px;
		}

		.cover-logo .p {
			width: 150px;
		}

		.cover-logo .p p {
			font-size: 10px;
		}
	}

	/* 介紹文字 */
	#introduce {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;

		margin: 200px auto;
		padding: 0 0 6vw 0;
		width: 1140px;

		position: relative;
		z-index: 1;

		background-image: url(../images/index/gradient_bg.png);
		background-size: cover;
		border-radius: 999px 0 170px 0;
	}

	#introduce .bg-logo {
		position: absolute;
		right: 0;
		bottom: 0;

		height: 100%;
		object-fit: contain;
		width: auto;

		/* opacity: 0.5; */
		opacity: 0;
		transition: all 1s ease-in-out;
	}

	#introduce .bg-logo.animate.animation {
		opacity: .5;
	}

	#introduce .star-red {
		position: absolute;
		right: -15px;
		bottom: -100px;

		height: 85px;
		object-fit: contain;
		width: auto;
	}

	#introduce .star-blue {
		position: absolute;
		left: -50px;
		top: 210px;

		height: 40px;
		object-fit: contain;
		width: auto;
	}

	#introduce .star-green {
		position: absolute;
		right: -40px;
		bottom: -30px;

		height: 40px;
		object-fit: contain;
		width: auto;
	}

	#introduce .left .top {
		margin-bottom: 65px;
	}

	#introduce .left .top .h1 {
		/* margin: 65px 0; */
		display: block;
		overflow: hidden;
	}

	#introduce .left .top .h1 h1 {
		transform: translateY(100%);
		transition: all 1s ease-in-out;
	}

	#introduce .left .top .h1 h1.animate.animation {
		transform: translateY(0%);
	}

	#introduce .left .top .h3 {
		display: block;
		margin-bottom: 65px;
		width: 0;
		height: 15px;
		overflow: hidden;
		transition: all 1.3s .5s ease-in-out;
	}

	#introduce .left .top .h3.animate.animation {
		width: 185px;
	}

	#introduce .left .top .h3 h3 {
		width: 150px;
	}

	#introduce .left {
		position: relative;
		z-index: 10;
	}

	#introduce .left .bottom {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	#introduce .bottom .line {
		display: block;
		width: 185px;
		height: 1px;
		background-color: #666;
		transform: scaleX(0);
		transform-origin: left;

		transition: all 1.3s ease-in-out;
	}

	#introduce .bottom .line.animate.animation {
		/* animation: line 1.3s .5s ease-in-out forwards; */
		transform: scaleX(1);
	}

	#introduce .left .bottom p {
		opacity: 0;
		transition: all 1.3s ease-in-out;
	}

	#introduce .left .bottom p.animate.animation {
		opacity: 1;
	}

	#introduce .left .bottom .p {
		width: 400px;
		margin-top: 65px;
		display: block;
		overflow: hidden;
	}

	#introduce .right {
		margin-right: 10vw;
		position: relative;
		z-index: 10;
	}

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (993-) 1400px */
	@media (max-width: 1400px) {}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {
		#introduce {
			width: 80%;
			padding-bottom: 40px;
		}

		#introduce .right {
			margin-right: 40px;
		}
	}

	/* 平板 (576-) 992px */
	@media (max-width: 992px) {
		#introduce {
			flex-direction: column;
			width: 80%;
			background-position: center;
			margin-top: 100px;
		}

		#introduce .left {
			width: 400px;
			margin: 50px auto;
		}

		#introduce .bottom .line {
			width: 100%;
		}

		#introduce .right {
			margin: 0 auto;
		}
	}

	/* 小型手機 576px 以下 */
	@media (max-width: 576px) {
		#introduce .left .top {
			margin-bottom: 30px;
		}

		#introduce .left .top h1 {
			font-size: 30px;
		}

		#introduce .left .top .h3 {
			margin-bottom: 30px;
		}

		#introduce .left {
			width: 70%;
		}

		#introduce .left .bottom .p {
			width: 100%;
			margin-top: 30px;
		}
	}

	/* 輪播圖片 */
	#carousel {
		background: var(--gradient3);
		padding: 150px 0;
		width: 100%;
		margin: 0 auto;
		position: relative;
	}

	#carousel>img {
		position: absolute;
		width: 100%;
	}

	#carousel .gradient-line-1 {
		top: -270px;
	}

	#carousel .gradient-line-2 {
		bottom: -270px;
		transform: rotate(180deg);
	}

	#carousel .star-w-1 {
		opacity: 0.4;
		left: 2vw;
		top: 2vw;
		width: 6vw;
	}

	#carousel .star-w-2 {
		opacity: 0.4;
		left: 8vw;
		top: 6vw;
		width: 3vw;
	}

	#carousel .star-w-3 {
		opacity: 0.4;
		right: 2vw;
		top: 15vw;
		width: 9vw;
	}

	#carousel .star-w-4 {
		opacity: 0.4;
		right: 30vw;
		bottom: 1vw;
		width: 4vw;
	}

	#carousel .star-w-5 {
		opacity: 0.4;
		left: 3vw;
		bottom: -1vw;
		width: 9vw;
	}

	.carousel-corner {
		width: 100%;
		height: 20vw;
		object-fit: contain;
	}

	.corner-1 {
		object-position: right;
		margin-top: -270px;
	}

	.corner-2 {
		object-position: left;
		margin-bottom: -200px;
	}

	#carousel .title {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 99;
	}

	#carousel .title .h1-relative {
		margin-bottom: 15px;
		position: relative;
	}

	#carousel .title .h1,
	#carousel .title .h2 {
		display: block;
		overflow: hidden;
	}

	#carousel .title h1,
	#carousel .title h2 {
		transform: translateY(100%);
		transition: all 1s .5s ease-in-out;
	}

	#carousel .title h1.animate.animation,
	#carousel .title h2.animate.animation {
		transform: translateY(0%);
	}

	#carousel .quotes-span {
		display: block;
		overflow: hidden;

		position: absolute;
		left: -100px;
		top: 0;
		width: 40px;
	}

	#carousel .quotes {
		transform: translateY(-100%);
		transition: all 1s ease-in-out;
	}

	#carousel .quotes.animate.animation {
		transform: translateY(0%);
	}



	#carousel .img {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 130px;
		/* overflow: hidden; */

		position: relative;
		z-index: 99;
	}

	#carousel .img img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		mix-blend-mode: color-dodge;

	}

	#carousel .img a {
		width: 405px;
		height: 405px;
		position: relative;
		border-radius: 0 100px 0 100px;
		margin: 0 20px;
		overflow: hidden;
		pointer-events: none;
	}

	/* #carousel .img a.scale::before{
		content: "";
		display: block;
		height: 100%;
		width: var(--imageWidth1);
		background-color: rgba(0, 0, 0, 0.3);
		position: absolute;
		left: 0;
		top: 0;
	} */


	#carousel .img span h3,
	#carousel .img span h4 {
		color: #fff
	}

	#carousel .img a span {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;

		opacity: 0;
		transition: all .3s ease-in-out;
	}

	#carousel .img a.scale span {
		opacity: 1;
	}

	#carousel .img a.scale {
		background-color: rgba(0, 0, 0, 0.5);
		pointer-events: all;
	}

	#carousel .item-1 {
		transform: scale(1.3);
		z-index: 1;
		/* border: 2px solid red; */
	}

	#carousel .carousel {
		display: flex;
		justify-content: center;
		transform: translateX(calc(var(--move-distance) * 1.5));
		z-index: 99;
		position: relative;
	}

	#carousel .center {
		order: 1;
	}

	#carousel .left {
		order: 0;
		z-index: -1;
	}

	#carousel .right {
		order: 2;
		z-index: -1;
	}

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (993-) 1400px */
	@media (max-width: 1400px) {}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {
		.corner-2 {
			margin-bottom: -70px;
		}

		#carousel .img a span h4 {
			font-size: 16px;
		}

		#carousel .img a span h3 {
			font-size: 24px;
		}
	}

	/* 平板 (576-) 992px */
	@media (max-width: 992px) {
		.corner-1 {
			margin-top: -200px;
		}

		#carousel {
			padding-bottom: 80px;
		}

		#carousel .title {
			width: 70%;
			text-align: center;
			margin: 0 auto;
		}

		#carousel .quotes-span {
			left: 50%;
			transform: translate(-50%, 0);
			top: -80px;
			width: 30px;
			/* display: none; */
		}

		#carousel .title h2 {
			line-height: 1.5em;
		}

		#carousel .img {
			margin-top: 50px;
		}

		#carousel .img a {
			width: 200px;
			height: 200px;
			border-radius: 0 50px 0 50px;
			margin: 0 10px;
		}

		.corner-2 {
			margin-bottom: 0px;
		}
	}

	/* 小型手機 576px 以下 */
	@media (max-width: 576px) {
		.corner-1 {
			margin-top: -130px;
		}

		#carousel .title h1 {
			font-size: 22px;
		}

		#carousel .title h2 {
			font-size: 16px;
		}

		.corner-2 {
			margin-bottom: 50px;
		}


	}

	/* 商品 */
	#product {
		margin-bottom: 150px;
		margin-top: 20px;

		position: relative;
		z-index: 1;
	}

	.product-bg {
		background-image: url(../images/index/gradient-line.svg);
		background-size: cover;
		background-position: center;
	}

	/* 圖片在左 */
	#product .index-product-left {
		display: flex;
		justify-content: space-between;
		width: 1140px;
		margin: auto;
		padding: 100px 0;
	}

	#product .index-product-left .img {
		background-position: center;
		background-size: cover;
		width: 740px;
		height: 540px;
		border-radius: 0 999px 0 0;
		text-align: right;
	}

	#product .product-number-span {
		display: block;
		overflow: hidden;
	}

	#product .product-number {
		transform: translateY(100%);
		opacity: 0;
		transition: all 1.3s ease-in-out;
	}

	#product .product-number.animate.animation {
		transform: translateY(0%);
		opacity: 1;
	}

	#product .index-product-left .text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-end;
		text-align: right;
	}

	#product .index-product-left .text>div {
		margin-top: 80px;
		/* position: relative; */
	}

	#product .index-product-left .text>div h2 {
		margin-bottom: 20px;
	}

	#product .index-product-left .text>div h1 {
		position: relative;
	}

	#product .index-product-left .text>div img {
		position: absolute;
		right: -145px;
		top: -80px;
		width: 300px;
		height: 200px;
		rotate: -20deg;
		z-index: -1;
	}

	#product .gradient {
		opacity: 0;
		transition: all 1s .5s ease-in-out;
	}

	#product .gradient.animate.animation {
		opacity: 1;
	}

	/* 圖片在右 */
	#product .index-product-right {
		display: flex;
		justify-content: space-between;
		width: 1140px;
		margin: auto;
		padding: 100px 0;
	}

	#product .index-product-right .img {
		order: 1;
		background-position: center;
		background-size: cover;
		width: 740px;
		height: 540px;
		border-radius: 999px 0 0 0;
		/* text-align: right; */
	}

	#product .index-product-right .text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		/* text-align: right; */
	}

	#product .index-product-right .text>div {
		margin-top: 80px;
		/* position: relative; */
	}

	#product .index-product-right .text>div h2 {
		margin-bottom: 20px;
	}

	#product .index-product-right .text>div h1 {
		position: relative;
	}

	#product .index-product-right .text>div img {
		position: absolute;
		left: -145px;
		top: -80px;
		width: 300px;
		height: 200px;
		rotate: 200deg;
		z-index: -1;
	}

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (993-) 1400px */
	@media (max-width: 1400px) {}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {
		#product {
			margin: 0 0 80px 0;
		}

		#product .index-product-left,
		#product .index-product-right {
			width: 90%;
			height: 400px;
		}

		#product .index-product-left .img,
		#product .index-product-right .img {
			width: 50%;
			height: 100%;
		}

		#product .index-product-left .img p,
		#product .index-product-right .img p {
			font-size: 170px;
		}

		#product .index-product-left .text>div,
		#product .index-product-right .text>div {
			margin-top: 0px;
		}
	}

	/* 平板 (576-) 992px */
	@media (max-width: 992px) {}

	/* 小型手機 576px 以下 */
	@media (max-width: 576px) {

		#product .index-product-left,
		#product .index-product-right {
			width: 80%;
			flex-direction: column;
			align-items: center;
			height: 500px;
			padding: 70px 0;
		}

		#product .index-product-right .img {
			order: -1;
		}

		#product .index-product-left .img,
		#product .index-product-right .img {
			width: 100%;
			height: 100%;
			/* border-radius: 20px; */
		}

		#product .index-product-left .img p,
		#product .index-product-right .img p {
			font-size: 100px;
			/* text-align: right; */
		}

		#product .index-product-left .text,
		#product .index-product-right .text {
			align-items: center;
			text-align: center;
			margin-top: 50px;
			width: 100%;
			position: relative;
		}

		#product .index-product-left .text>div,
		#product .index-product-right .text>div {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		#product .index-product-left .text>div h2,
		#product .index-product-right .text>div h2 {
			order: 1;
			margin: 0;
		}

		#product .index-product-left .text>div h1,
		#product .index-product-right .text>div h1 {
			font-size: 40px;
		}

		#product .index-product-left .text>div h1 img,
		#product .index-product-right .text>div h1 img {
			rotate: 200deg;
			width: 200px;
			height: 120px;
			top: -40px;
			right: 0;
			bottom: 0;
			left: -110px;
		}

		#product .index-product-left .text>div::after,
		#product .index-product-right .text>div::after {
			content: "";
			display: block;
			height: 1px;
			width: 60px;
			background-color: #000;
		}

		#product .index-product-left .text p,
		#product .index-product-right .text p {
			margin: 50px 0;
		}
	}

	/* 商品圖片 */
	#index-perfume .img {
		background-image: url(../images/index/3D-1.jpg);
	}

	#index-facecare .img {
		background-image: url(../images/index/3D-2.jpg);
	}

	#index-diffuse .img {
		background-image: url(../images/index/3D-3.jpg);
	}

	/* 最新消息 */
	.color-block-text {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: calc(1140px - 80px);
		padding: 40px;
		margin: 80px auto;
		border-radius: 80px 0 80px 0;
		background: var(--gradient);
		min-height: 273px;
	}



	.color-block-text .title {
		display: flex;
		z-index: 10;
	}

	.color-block-text .title h2 {
		writing-mode: vertical-lr;
		letter-spacing: 15px;
		margin-right: 5px;
	}

	.color-block-text .title h3 {
		writing-mode: vertical-lr;
	}

	.color-block-text li a {
		display: flex;
		justify-content: space-between;
		width: 580px;
		padding: 12px 0;
	}

	.color-block-text li a h3 {
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 440px;
		overflow: hidden;
	}

	.color-block-text .leaf-btn-w {
		align-self: flex-end;
		z-index: 10;
	}

	.color-block-text.item2 {
		position: relative;
		background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url(../images/index/1.jpg);
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	.color-block-text.item2>h3 {
		line-height: 2.5em;
		text-align: center;
		z-index: 10;
	}

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (993-) 1400px */
	@media (max-width: 1400px) {}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {
		.color-block-text {
			width: calc(90% - 80px);
			flex-direction: column;

			min-height: 450px;
		}

		.color-block-text .title {
			flex-direction: column;
			align-items: center;
			margin-bottom: 20px;
		}

		.color-block-text .title h2,
		.color-block-text .title h3 {
			writing-mode: horizontal-tb;
			margin: 0;
		}

		.color-block-text .title h2 {
			margin-bottom: 10px;
		}

		.color-block-text .leaf-btn-w {
			align-self: center;
			margin-top: 30px;
		}
	}

	/* 平板 (576-) 992px */
	@media (max-width: 992px) {}

	/* 小型手機 768px 以下 */
	@media (max-width: 768px) {

		.color-block-text li a {
			flex-direction: column;
			width: 100%;
		}

		.color-block-text li a h3 {

			white-space: wrap;

		}

		.color-block-text li:nth-last-child(1),
		.color-block-text li:nth-last-child(2) {
			display: none;
		}

		.color-block-text.item2>h3 {
			line-height: 2em;
		}

	}

	/* 小型手機 768px 以下 */
	@media (max-width: 400px) {
		.color-block-text {
			min-height: 540px;
		}

		.color-block-text.item2>h3 {
			font-size: 20px;
		}
	}

	/* 聯繫我們 */
	#contact {
		background: url(../images/index/gradient-line.png);
		background-position: bottom -40px right 0px;
		background-size: 100% 90%;
		padding: 150px 0;
		background-repeat: no-repeat;
	}

	#contact .content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		width: 1140px;
	}

	#contact .content .text {
		position: relative;
	}

	#contact .content .text h2 {
		margin: 50px 0;
	}

	#contact .content .text img {
		position: absolute;
		left: -200px;
		top: -30px;
		z-index: -1;
		width: 400px;
		height: 250px;
		rotate: 200deg;
	}

	#contact .content .text img.animate {
		opacity: 0;
		transition: all 1s .5s ease-in-out;
	}

	#contact .content .text .animate {
		opacity: 0;
		transition: all 1s ease-in-out;
	}

	#contact .content .text .animate.animation {
		opacity: 1;
	}

	.button-shadow {
		filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.1));
		overflow: visible;

		padding: 32px;
		transform: translateX(32px);
	}

	/* #contact .leaf-btn-w {
		filter: drop-shadow(5px 5px 20px rgba(0, 0, 0, 0.1));
		overflow: visible;
	} */

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (993-) 1400px */
	@media (max-width: 1400px) {}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {
		#contact .content {
			width: 80%;
		}
	}

	/* 平板 (576-) 992px */
	@media (max-width: 992px) {
		#contact {
			padding: 50px 0 120px 0;
		}

		#contact .content {
			width: 70%;
			flex-direction: column;
			text-align: center;

		}

		#contact .content a {
			margin-top: 70px;
		}

		.button-shadow {
			transform: translateX(0);
			transform: translateY(-32px);
		}
	}

	/* 小型手機 576px 以下 */
	@media (max-width: 576px) {
		#contact .content .text h2 {
			font-size: 50px;
			margin: 40px 0;
		}

		#contact .content .text h3 {
			font-size: 16px;
		}

		#contact .content .text p {
			font-size: 18px;
			line-height: 1.5em;
		}
	}

	/* 頁尾 */
	footer {
		display: flex;
		background: var(--gradient);
		height: 340px;
		padding: 30px;

		position: relative;
	}

	footer .bg {
		object-fit: contain;
		width: auto;
		height: 100%;
		position: absolute;
		left: 80px;
		top: 0;

		opacity: 0;
		transition: all 1s ease-in-out;
	}

	footer .bg.animate.animation {
		opacity: 0.5;
	}

	footer .star-1 {
		object-fit: contain;
		width: auto;
		height: 120px;
		position: absolute;
		right: 600px;
		bottom: 20px;

		opacity: 0.4;
	}

	footer .star-2 {
		object-fit: contain;
		width: auto;
		height: 70px;
		position: absolute;
		right: 25px;
		bottom: 25px;

		opacity: 0.4;
	}

	footer .star-3 {
		object-fit: contain;
		width: auto;
		height: 35px;
		position: absolute;
		right: 100px;
		bottom: 60px;

		opacity: 0.4;
	}

	footer .star-4 {
		object-fit: contain;
		width: auto;
		height: 35px;
		position: absolute;
		right: 30px;
		top: 30px;

		opacity: 0.4;
	}

	footer .content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 0 150px;
		/* width: 1140px; */

		z-index: 1;
	}

	footer .content img {
		object-fit: contain;
		width: 220px;
	}

	footer .center {
		align-self: flex-end;
	}

	footer .social {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	footer .center img {
		width: 30px;
	}

	footer .serif-medium-footer {
		display: flex;
		justify-content: space-between;
		align-content: space-between;
		flex-wrap: wrap;
		width: 240px;
		height: 140px;
	}

	footer .serif-medium-footer a:nth-child(odd) {
		margin-right: 60px;
	}

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (993-) 1400px */
	@media (max-width: 1400px) {}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {
		footer .content {
			margin: 0 auto;
			width: 80%;
		}
	}

	/* 平板 (768-) 992px */
	@media (max-width: 992px) {
		footer .content {
			margin: 0 auto;
			width: 90%;
		}

		footer .bg {
			left: 0;
		}
	}

	/* 小型手機 768px 以下 */
	@media (max-width: 768px) {
		footer {
			height: 450px;
		}

		footer .content {
			flex-direction: column;
			align-items: center;
			justify-content: space-evenly;
		}

		footer .content>a img {
			width: 100px;
			order: 0;
		}

		footer .content .center {
			align-self: center;
			order: 3;
		}

		footer .content .serif-medium-footer {
			margin: 30px 0;
		}
	}



	/*                dfiffuse-Nectarine               */

	#pd-cover {
		background-image: url(../images/index/gradient-line.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	#pd-cover .content {
		display: flex;
		justify-content: space-between;
		margin: 100px auto;
		width: 1140px;
	}

	#pd-cover .text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 490px;

	}

	.bread p {
		display: flex;
		flex-flow: wrap;
	}

	#pd-cover .text .h1 {
		display: block;
		overflow: hidden;
		margin-bottom: 10px;
	}

	#pd-cover .text .h2 {
		display: block;
		overflow: hidden;
	}

	#pd-cover .text .h1 h1,
	#pd-cover .text .h2 h2 {
		transform: translateY(100%);
		animation: logo 1.5s .5s ease-in-out forwards;
	}

	#pd-cover .text .title {
		position: relative;
	}

	/* 系列標籤 */
	.ribbon {
		width: 40px;
		height: 170px;
		background: var(--gradient2);

		position: absolute;
		right: 0px;
		top: 0px;

		opacity: 0;
		animation: opacity 1s ease-in-out forwards;
	}

	.ribbon h3 {
		writing-mode: vertical-lr;
		letter-spacing: 12px;
		margin: 0 auto;
		padding-top: 20px;
	}

	.ribbon:before {
		content: "";
		position: absolute;
		bottom: 0;
		border: 20px solid transparent;
		border-bottom: 20px solid #fff;
	}

	/* 前中後調 */

	#pd-cover .text .introduction {
		position: relative;
	}

	#pd-cover .text .introduction p {
		opacity: 0;
		animation: opacity 1s ease-in-out forwards;
	}

	#pd-cover .text .quotes-span {
		display: block;
		overflow: hidden;
		position: absolute;
		width: 37px;
		left: -20px;
		top: -35px;
	}

	#pd-cover .text .quotes {
		transform: translateY(-100%);
		animation: cover-quotes 1s ease-in-out forwards;
	}

	#pd-cover .img {
		width: 480px;
		height: 600px;
		background-image: url(../images/index/3D-3.jpg);
		background-position: center;
		background-size: cover;
		border-radius: 999px 999px 0 0;

		position: relative;
	}

	#pd-cover .img::after {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		border: 1px solid #666;
		border-radius: 999px 999px 0 0;

		position: absolute;
		left: -20px;
		bottom: -20px;
		z-index: -10;

		opacity: 0;
		animation: opacity .5s 1s ease-in-out forwards;
	}

	#pd-cover .img img {
		position: absolute;

		opacity: 0;
		animation: opacity 1s .3s ease-in-out forwards;
	}

	#pd-cover .img img:nth-of-type(1) {
		width: 40px;
		right: -20px;
		top: 40%;
	}

	#pd-cover .img img:nth-of-type(2) {
		width: 22px;
		left: -30px;
		bottom: 20px;
	}

	#pd-cover .notes {
		display: flex;
		justify-content: space-between;
		width: 1140px;
		margin: 0 auto;
		padding: 50px 0;
	}

	#pd-cover .notes .item-n {
		text-align: justify;
		padding: 0 30px;
	}

	#pd-cover .notes .item-n h3 {
		margin-bottom: 15px;
	}

	#pd-cover .notes div:nth-of-type(2) {
		border-right: 1px solid #000;
		border-left: 1px solid #000;
	}

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (1200-) 1400px */
	@media (max-width: 1400px) {}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {
		#pd-cover .content {
			width: 90%;
		}

		#pd-cover .text {
			margin-right: 100px;
		}

		#pd-cover .text .title h2 {
			line-height: 1.5em;
		}

		#pd-cover .img {
			width: 400px;
			height: 500px;
		}

		#pd-cover .notes {
			width: 90%;
		}
	}

	/* 平板 (576/769-) 992px */
	@media (max-width: 992px) {
		#pd-cover .content {
			flex-direction: column;
			width: 80%;
			margin: 60px auto;
		}

		#pd-cover .text {
			order: 1;
			width: 100%;
			margin-top: 50px;
			height: 450px;
		}

		#pd-cover .quotes {
			display: none;
		}

		#pd-cover .img {
			width: 70%;
			height: 500px;
			margin: 0px auto;
			margin-bottom: 20px;
		}

		#pd-cover {
			background-position: 50% 65%;
		}

		#pd-cover .notes {
			width: 80%;
			padding: 0px;
			flex-direction: column;
			align-items: center;
		}

		#pd-cover .notes .item-n {
			padding: 20px 0px;
		}

		#pd-cover .notes div:nth-of-type(2) {
			border: none;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
		}
	}

	/* 小型手機 768px 以下 */
	@media (max-width: 768px) {}

	/* 小型手機 576px 以下 */
	@media (max-width: 576px) {
		#pd-cover .text {
			height: auto;
		}

		#pd-cover .text .title {
			text-align: center;
		}

		#pd-cover .text .title h1 {
			font-size: 45px;
		}

		#pd-cover .text .title h2 {
			font-size: 14px;
		}

		#pd-cover .text .introduction .ch-sans-light-m {
			font-size: 14px;
		}

		#pd-cover .img {
			width: 90%;
			height: 350px;
		}

		.ribbon {
			position: static;
			width: 170px;
			height: 40px;
			border-radius: 99px;
			margin: 45px auto;
		}

		.ribbon h3 {
			writing-mode: horizontal-tb;
			line-height: 40px;
			text-align: center;
			padding-top: 0px;
		}

		.ribbon::before {
			display: none;
		}

		.bread {
			display: none;
		}
	}

	/* 注意事項 */
	#pd-precautions {
		justify-content: flex-start;
		min-height: 0;
	}

	#pd-precautions .ch-sans-light-m {
		margin: 0 auto;
	}

	#pd-precautions ul {
		list-style: decimal;
	}

	/* 相關商品 */

	#pd-related {
		position: relative;
		margin-bottom: 100px;
	}

	#pd-related .title {
		text-align: center;
	}

	#pd-related .title h2 {
		margin-top: 5px;
	}

	#pd-related .item-list {
		display: flex;
		justify-content: center;
		/* overflow: hidden; */
		margin: 80px 0;
	}

	#pd-related .item {
		margin: 0 30px;
	}

	#pd-related .item .text {
		display: flex;
		justify-content: center;
		margin-top: 20px;
	}

	#pd-related .item .text h4 {
		margin-right: 20px;
	}

	#pd-related .item .img {
		width: 350px;
		height: 350px;

		background-size: cover;
		background-position: center;
		border-radius: 100px 0 100px 0;

		position: relative;
		overflow: hidden;
	}

	#pd-related .item .img::after {
		content: "";
		display: block;
		background: var(--gradient);
		width: 100%;
		height: 100%;
		position: absolute;

		opacity: 0;
		transition: all .3s ease-in-out;
	}

	#pd-related .item .img:hover::after {

		opacity: 1;
	}

	#pd-related .i-1 .img {
		background-image: url(../images/index/3D-1.jpg);
	}

	#pd-related .i-2 .img {
		background-image: url(../images/index/3D-2.jpg);
	}

	#pd-related .i-3 .img {
		background-image: url(../images/index/3D-3.jpg);
	}

	#pd-related .i-4 .img {
		background: var(--gradient);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#pd-related .i-4 .img h3 {
		letter-spacing: 0.5em;
		margin-top: 50px;
	}

	#pd-related .i-4 img {
		width: 100px;
		object-fit: contain;

	}

	#pd-related .i-5 .img {
		background-image: url(../images/index/3D-1.jpg);
	}

	#pd-related .i-6 .img {
		background-image: url(../images/index/3D-2.jpg);
	}

	#pd-related .i-7 .img {
		background-image: url(../images/index/3D-3.jpg);
	}

	#pd-related .arrow {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		justify-content: space-between;
		width: 75%;
		z-index: 10;
	}

	#pd-related .arrow a {
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.2);
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}

	#pd-related .arrow img {
		height: 20px;

	}

	#pd-related .arrow a:nth-of-type(1) {
		transform: rotateY(180deg);
	}

	#pd-related .leaf-btn-c {
		margin: 0 auto;
	}





	/* 文章單一頁面 */

	.news-page-bg {
		position: absolute;
		top: 20%;
		z-index: -1;
	}

	#news-page {
		width: 1140px;
		margin: 100px auto;
	}

	#news-page .bread {
		margin-bottom: 100px;
	}

	#news-page .text {
		display: flex;
		justify-content: space-between;
	}

	#news-page .text .title span {
		display: block;
		overflow: hidden;
	}

	#news-page .text .title span h1,
	#news-page .text .title span h2 {
		transform: translateY(100%);
		opacity: 0;
		transition: all 1.5s ease-in-out;
	}

	#news-page .text .title span h1.animate.animation,
	#news-page .text .title span h2.animate.animation {
		transform: translateY(0%);
		opacity: 1;
	}

	.share {
		background-image: url(../images/index/share.svg);
		background-size: contain;
		width: 50px;
		height: 50px;
		transition: all .2s ease-in-out;
	}

	.share:hover {
		background-image: url(../images/index/share-c.svg);

	}

	#news-page .date {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: end;
	}

	#news-page .text .title {
		position: relative;
	}

	#news-page .text .title h1 {
		margin-bottom: 10px;

	}

	#news-page .banner {
		margin: 100px 0;
		border-radius: 100px 0 100px 0;
		height: 500px;
		width: 100%;
		background-image: url(../images/index/3.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	#news-page article ul {
		margin: 10px 0px 40px 0px;
		list-style: disc;
	}

	#news-page article h3 {
		line-height: 1.5em;
	}

	#news-page .leaf-btn-c {
		margin: 0 auto;
		margin-top: 100px;
	}

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (1200-) 1400px */
	@media (max-width: 1400px) {}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {
		#news-page {
			width: 80%;
		}

		#news-page .text .title h1 {
			font-size: 50px;
		}

		#news-page .text .title h2 {
			font-size: 20px;
		}

		#news-page .banner {
			margin: 60px auto;
			height: 350px;
		}

		#news-page .bread {
			margin-bottom: 60px;
		}
	}

	/* 平板 (576/769-) 992px */
	@media (max-width: 992px) {}

	/* 小型手機 768px 以下 */
	@media (max-width: 768px) {}

	/* 小型手機 576px 以下 */
	@media (max-width: 576px) {
		#news-page .text {
			flex-direction: column;
			align-items: start;
		}

		#news-page .text .title {
			order: 1;
		}

		#news-page .text .date {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			width: 100%;
			margin-bottom: 30px;
		}

		#news-page .share {
			order: 1;
			width: 30px;
			height: 30px;
		}

		#news-page .banner {
			margin: 40px auto;
			height: 200px;
			border-radius: 60px 0 60px 0;
		}

		#news-page .text .title {
			text-align: center;
			margin: 0 auto;
		}

		#news-page .text .title h1 {
			font-size: 35px;
		}

		#news-page .text .title h2 {
			font-size: 18px;
		}
	}








	/* RWD 斷點 */

	/* 電腦 1401px */
	@media (min-width: 1401px) {}

	/* 電腦 (1200-) 1400px */
	@media (max-width: 1400px) {}

	/* 平板 (992-) 1200px */
	@media (max-width: 1200px) {}

	/* 平板 (576/769-) 992px */
	@media (max-width: 992px) {}

	/* 小型手機 768px 以下 */
	@media (max-width: 768px) {}

	/* 小型手機 576px 以下 */
	@media (max-width: 576px) {}

	/* 
	合併後修改： 
	footer .content>a img 
	width: auto => width: auto
	.button-shadow => @media (max-width: 992px) 
	*/